

<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7eef3] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#0e151b]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_6_319)">
                    <path
                      d="M8.57829 8.57829C5.52816 11.6284 3.451 15.5145 2.60947 19.7452C1.76794 23.9758 2.19984 28.361 3.85056 32.3462C5.50128 36.3314 8.29667 39.7376 11.8832 42.134C15.4698 44.5305 19.6865 45.8096 24 45.8096C28.3135 45.8096 32.5302 44.5305 36.1168 42.134C39.7033 39.7375 42.4987 36.3314 44.1494 32.3462C45.8002 28.361 46.2321 23.9758 45.3905 19.7452C44.549 15.5145 42.4718 11.6284 39.4217 8.57829L24 24L8.57829 8.57829Z"
                      fill="currentColor"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_6_319"><rect width="48" height="48" fill="white"></rect></clipPath>
                  </defs>
                </svg>
              </div>
              <h2 class="text-[#0e151b] text-lg font-bold leading-tight tracking-[-0.015em]">Roamly</h2>
            </div>
            <div class="flex items-center gap-9">
              <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Stays</a>
              <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Flights</a>
              <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Car rentals</a>
              <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Attractions</a>
              <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Travel guides</a>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <label class="flex flex-col min-w-40 !h-10 max-w-64">
              <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                <div
                  class="text-[#4e7997] flex border-none bg-[#e7eef3] items-center justify-center pl-4 rounded-l-xl border-r-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <input
                  placeholder="Search"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#0e151b] focus:outline-0 focus:ring-0 border-none bg-[#e7eef3] focus:border-none h-full placeholder:text-[#4e7997] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  value=""
                />
              </div>
            </label>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#e7eef3] text-[#0e151b] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#0e151b]" data-icon="Globe" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM101.63,168h52.74C149,186.34,140,202.87,128,215.89,116,202.87,107,186.34,101.63,168ZM98,152a145.72,145.72,0,0,1,0-48h60a145.72,145.72,0,0,1,0,48ZM40,128a87.61,87.61,0,0,1,3.33-24H81.79a161.79,161.79,0,0,0,0,48H43.33A87.61,87.61,0,0,1,40,128ZM154.37,88H101.63C107,69.66,116,53.13,128,40.11,140,53.13,149,69.66,154.37,88Zm19.84,16h38.46a88.15,88.15,0,0,1,0,48H174.21a161.79,161.79,0,0,0,0-48Zm32.16-16H170.94a142.39,142.39,0,0,0-20.26-45A88.37,88.37,0,0,1,206.37,88ZM105.32,43A142.39,142.39,0,0,0,85.06,88H49.63A88.37,88.37,0,0,1,105.32,43ZM49.63,168H85.06a142.39,142.39,0,0,0,20.26,45A88.37,88.37,0,0,1,49.63,168Zm101.05,45a142.39,142.39,0,0,0,20.26-45h35.43A88.37,88.37,0,0,1,150.68,213Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDJurH_NAj8jBpb8EbaU6hFQ-TizwL5d3mUTqvYVT6opNB9eBBrjBQ9aE4fQlXVitlewBf9vTgCOuLciMy0DLz8vwt1fcPQ5UHeNbZmFBfI_pLSeC0ofS9oJJWckKvc4iXWgfzBrk5tbWoMZWgzg_ljNEAg_4qXMH0JXPnyFDM_bYPELXQoWWarbUQYyKcv0qr79GfBPTP1soWNzYqkpVcQDv9F9dv66CVs9VZXb1oYyUBMwqU09Utcn63OjfAC6gEPrRrIExR-7yLp");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="px-4 py-3">
              <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                  <div
                    class="text-[#4e7997] flex border-none bg-[#e7eef3] items-center justify-center pl-4 rounded-l-xl border-r-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#0e151b] focus:outline-0 focus:ring-0 border-none bg-[#e7eef3] focus:border-none h-full placeholder:text-[#4e7997] px-4 rounded-r-none border-r-0 pr-2 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                    value="San Francisco"
                  />
                  <div class="flex items-center justify-center rounded-r-xl border-l-0 border-none bg-[#e7eef3] pr-2 pr-4">
                    <button
                      class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl bg-transparent text-[#0e151b] gap-2 text-base font-bold leading-normal tracking-[0.015em] h-auto min-w-0 px-0"
                    >
                      <div class="text-[#4e7997]" data-icon="XCircle" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                          <path
                            d="M165.66,101.66,139.31,128l26.35,26.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"
                          ></path>
                        </svg>
                      </div>
                    </button>
                  </div>
                </div>
              </label>
            </div>
            <div class="flex gap-3 p-3 flex-wrap pr-4">
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#e7eef3] pl-4 pr-4">
                <p class="text-[#0e151b] text-sm font-medium leading-normal">Dates</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#e7eef3] pl-4 pr-4">
                <p class="text-[#0e151b] text-sm font-medium leading-normal">Guests</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#e7eef3] pl-4 pr-4">
                <p class="text-[#0e151b] text-sm font-medium leading-normal">Price range</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#e7eef3] pl-4 pr-4">
                <p class="text-[#0e151b] text-sm font-medium leading-normal">Rooms</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#e7eef3] pl-4 pr-4">
                <p class="text-[#0e151b] text-sm font-medium leading-normal">More filters</p>
              </div>
            </div>
            <h2 class="text-[#0e151b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">1,000+ places to stay</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA6F9-RpMnQAGUMNpiiGj73LCKHXLC5HhepbYwCJI4XuNj8FK2dk-e4hgVeGu7e2QxG0_Cn18YCFqCHVqm3Ksx8WzO2tERj7obRz6yyASGcwlLLN5PiqxsLpC2syQ6PXVWMpCcWczujBE-nVtS8e0xPNeIfDy6RTIUB-ZfmvLfQ50tbmVInxeqp_5iMzVDSSrv8uXHB3jidNrr9WdYVPwdPQyt-LoFYNZ90Sqlxf-vo2gCuE2sWF4W9p-FHLcyrOyJhvW5DwItlFM0Y");'
                ></div>
                <div>
                  <p class="text-[#0e151b] text-base font-medium leading-normal">Cozy Apartment in Downtown</p>
                  <p class="text-[#4e7997] text-sm font-normal leading-normal">4.5 stars · Apartment · 2 beds</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAoFOMdK9HnI-TgjPPGFmwcTXad2Aq3_GWF9WuLoTDVKcgiSwJfgK8PuHLpXkIuf4QhaDCgDVWtvJ4TatQCm5NcPDbu5aIUP6dytC_BmMXZjyeeRPUD2lDnQTX5Lwu4isMndYyAOO2zbEJxYXHfyBNZ8QGbSwpEX6IYLiNYCJWwMpTWkZW2awiOeToesM2sZOdkQxg1gcYPVDiONet4biqblJ3Xklx3AWzDEvvNPEYDX43UcQgR9zOTveK7pypEuYR5kLXEoVc4Dl-x");'
                ></div>
                <div>
                  <p class="text-[#0e151b] text-base font-medium leading-normal">Luxury Suite with Ocean View</p>
                  <p class="text-[#4e7997] text-sm font-normal leading-normal">4.8 stars · Hotel · 1 king bed</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCqjtDG3TLgoqkdJo6nhRkuX7ukxcPg39Y55BkVXUkY4EnImXG_nci25G0bEOEj2kiVRq5T-SQiS3f0zpI0ECYcfibovRV6dvIw-9XDRNgnx6Hi89AF-nYPsWnhwYs7tnogHS1JPeBtfoEQ3L1I1yqUGkkECDYoIRdJwBFH2F6jFQAnsryE__wGkTeBzO4PBVFgjk82zJYzEDWHILwxlAFDuRIBrkwy6jF4-UWDsyP2Ic5dpV7XPaBA4Pg44ewMxk8th7bXp4rRcfPe");'
                ></div>
                <div>
                  <p class="text-[#0e151b] text-base font-medium leading-normal">Budget-Friendly Hostel Near the Airport</p>
                  <p class="text-[#4e7997] text-sm font-normal leading-normal">3.9 stars · Hostel · 1 bunk bed</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA_u8TBt3C3TbPhk1T-hLpQXN8VB71BpHjrOej8W3nzxoRMDK51RDf8_2WB1Mc3rIPzPtnH7OFlMRNTCTkfL_MAoeWP1IBvyPv9b7xShwwu0yV4O776gvJj-e5i04Jjh0h8jt-jBGX0XnQ3sGyPrqoft0s2lC6vo4rFPX41HBcHcpwj0ZOzh0XS1ovNkKYNY09pvTFo0_0yWiKsyd03TkIU0b2WEFoszeM9eOJde-fDsvZPMaNYSNIDyyjf0fO4A5BtwIduJeMaq-Eb");'
                ></div>
                <div>
                  <p class="text-[#0e151b] text-base font-medium leading-normal">Family-Friendly Resort with Pool</p>
                  <p class="text-[#4e7997] text-sm font-normal leading-normal">4.2 stars · Resort · 2 queen beds</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBqd23b5ENaTkmBWJ5IdM2f92UzjpD24TpuryI4rtxoRx2YJVec7Wie8j3o_71wAOJaW1tlEFiwhaXiHxAZJbWQrnKJm6mlHR3AmRo36eeUYIQzs9TxI36A-EWEbdqEre9TPmx7wtBqGSGQXLUHJUoaBGcT4owFHxKl7CzCwtoCkTw53yEMT4-bwi5y7gn6ZLq2Fbp3BvL1_Rb_3pZrAvRTo3awqvHv7K0qgytG6oGxrReKvmEAHan-2I6tkGstSKuInn7CzU4z2HWF");'
                ></div>
                <div>
                  <p class="text-[#0e151b] text-base font-medium leading-normal">Modern Loft in the Arts District</p>
                  <p class="text-[#4e7997] text-sm font-normal leading-normal">4.7 stars · Loft · 1 queen bed</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCD96JZvO4P9P8BNyF1imEk8mCFEZD12imA_uzBYU-rrTxVBcNSvKpYkBS4p2aAh3QqQ4hg9t6nU5yceJUcU7F8re66--yvyMdG-Xz8C9GecIpJWTj6_Rl7SawuSdqG9OQAfdJrAPzoR2VZMTYURnT0DjZabg3yc1KBOKr_FR8b5IMwuYUudTHL3utJJCpZiTqdcH36k8PGjI7xn3AaAyXI--LtXKvJeoLgM9ARE7esdf8CWb4O0xn0JmDT1zEho-GQcFp-hox8ixxv");'
                ></div>
                <div>
                  <p class="text-[#0e151b] text-base font-medium leading-normal">Historic Hotel in the City Center</p>
                  <p class="text-[#4e7997] text-sm font-normal leading-normal">4.3 stars · Hotel · 1 queen bed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
