@using Microsoft.Extensions.Localization
@using Webdemo.Resources
@inject IStringLocalizer<Webdemo.Resources.SharedResource> localizer

<h1>@localizer["Welcome"]</h1>

<a href="?culture=ka-GE&ui-culture=ka-GE">ქართული</a> |
<a href="?culture=en-US&ui-culture=en-US">English</a>
